#pane{
    -fx-background-image: url("menu.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}



.jfx-toggle-button {
    -fx-font-size: 1pt;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-background-radius: 0;
    -jfx-toggle-color: #001A23;
    -jfx-untoggle-color: #001A23;
    -jfx-toggle-line-color: #003E53;
    -jfx-untoggle-line-color: #FCF0CC;
    -jfx-size: 10.0;
    -jfx-disable-visual-focus: false;

}

.jfx-toggle-button .content {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}