@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@700&display=swap');

.scroll-pane {
    -fx-background-color: #001A23;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

* {
    -fx-text-align: center;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-family: 'Roboto Mono', monospace;
    -fx-font-size: 13pt;
    -fx-background-color: #001A23;
    -fx-text-fill: #FCF0CC;
}

.anchor-pane .content {
    -fx-background-radius: 0;
}

.jfx-button {
    -fx-text-align: center;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-family: 'Roboto Mono', monospace;
    -fx-font-size: 13pt;
    -fx-background-color: transparent;
    -fx-text-fill: #FCF0CC;
    -fx-background-radius: 0;

}

.jfx-button .content {
    -fx-background-radius: 0;
    -fx-background-color: #001A23;
}

.jfx-toggle-button {
    -fx-text-align: center;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-family: 'Roboto Mono', monospace;
    -fx-font-size: 13pt;
    -fx-background-color: #001A23;
    -fx-text-fill: #FCF0CC;
    -fx-background-radius: 0;

}

.jfx-toggle-button .content {
    -fx-background-radius: 0;
    -fx-background-color: #001A23;
}

.label {
    -fx-text-align: center;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-family: 'Roboto Mono', monospace;
    -fx-font-size: 13pt;
    -fx-background-color: #001A23;
    -fx-text-fill: #FCF0CC;
}

.label .content {
    -fx-background-radius: 0;
    -fx-background-color: #001A23;
}

.grid-pane {
    -fx-text-align: center;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-family: 'Roboto Mono', monospace;
    -fx-font-size: 13pt;
    -fx-background-color: #001A23;
    -fx-text-fill: #FCF0CC;
}

.grid-pane .content {
    -fx-background-radius: 0;
}