@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@700&display=swap');

#back{
    -fx-background-image: url("stats.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.label {
    -fx-text-align: center;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-family: 'Roboto Mono', monospace;
    -fx-font-size: 55pt;
    -fx-background-color: transparent;
    -fx-text-fill: #005D7C;
}

.label .content {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}


